.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: Arial, sans-serif;
}

.admin-form {
    background-color: rgb(27, 168, 173);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.admin-form h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
}

.admin-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.admin-form input[type="text"],
.admin-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.remember-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-container input {
    margin-right: 10px;
}

.admin-form button {
    background-color: black;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.admin-form button:hover {
    background-color: rgb(27, 168, 173);
}