
/* //navbar? */
#navbar ul { 
	margin: 0; 
	padding: 7px; 
	list-style-type: none; 
	text-align: right; 
	background-color: #000; 
  padding-top: 16px;
	} 
 
#navbar ul li {  
	display: inline; 
  
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 



/* src/Profile.css */


.parent-container {
  height: 500px; 
  background-color:black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.profile-container {
  width: 100%;
  /* max-width: 800px; */
  height: 355px;
  margin: 20px auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.profile-details {
  flex: 1;  /* Make the profile details take up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-details h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.profile-details .email {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.profile-details .user-id {
  font-size: 14px;
  color: #999;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 442px;
}

.info-section {
  display: flex;
  justify-content: revert-layer;
  padding: 10px 0;
  height: 100px;
  /* border-bottom: 1px solid #e0e0e0; */
}
/* .info1{
  height: 20px;
} */
.info-section:last-child {
  border-bottom: none;
}

.label {
  font-size: 14px;
  color: #999;
}

.value {
  font-size: 14px;
  color: #333;
}


/* ///// */
