<<<<<<< HEAD
.imageprofile {
  height: 97px;
  width: 140px;
=======

.imageprofile{
  height: 99px;
  width: 97px;
>>>>>>> upstream/main
}

.user {
  color: blue;
  font-size: xx-large;
  margin-left: 41px;
}

/* src/Profile.css */

.parent-container {
  height: 417px;
  background-color: black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.profile-container {
  width: 100%;
  /* max-width: 800px; */
  height: 355px;
  margin: 20px auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-header {
  display: block;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.profile-details {
  flex: 1; /* Make the profile details take up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 12px;
}

.profile-details h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.profile-details .email {
  margin: 5px 0;
  font-size: 20px;
  color: #666;
}

.profile-details .user-id {
  font-size: 20px;
  color: #999;
}

.info-section {
  display: flex;
  justify-content: revert-layer;
  padding: 10px 0;
  height: 100px;
  /* border-bottom: 1px solid #e0e0e0; */
}
/* .info1{
  height: 20px;
} */
.info-section:last-child {
  border-bottom: none;
}

.label {
  font-size: 14px;
  color: #999;
}

.value {
  font-size: 14px;
  color: #333;
}

/* ///SERVICES// */
.feat {
  width: 1289px;
  border: 2px solid wheat;
  height: 278px;
  margin: 0px auto;
  background-color: rgb(165 143 143);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.ser {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin: 12px;
}
.butt1 {
  height: 62px;
  width: 63px;
  padding: 13px;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  background-color: rgb(201, 197, 197);
  cursor: pointer;
}
.butt1:hover {
  background-color: rgb(155, 155, 155);
}

.box3 {
  display: flex;
  margin: 25px;
  flex-direction: column;
}
.container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img3 {
  display: flex;
  justify-content: center;
}

/* BALANC CHECK?? */
.container {
  padding: 13px;
  height: 269px;
  width: 274px;
}
.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 351px;
  border: 1px solid black;
  height: 229px;
  border-radius: 23px;
}
.balance {
  font-size: 20px;
  margin: 20px auto;
}
.account-type {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.balance-details {
  font-size: 20px;
  margin: 10px 0;
}
.icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.icon {
  margin: 0 15px;
}
.icon img {
  width: 50px;
  height: 50px;
}

.toggle-button {
  background-color: #f96f6f96;
  color: #2a4a22;
  border: none;
  padding: 6px 11px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 45px;
  display: flex;
  align-items: center;
}

.toggle-button i {
  margin-right: 8px;
}

.toggle-button:hover {
  background-color: #ddd;
}
