.form-container {
    max-width: 35%;
    margin: 50px auto;
    height: 100%;
    padding: 20px;
    /* background-color:  rgb(27, 168, 173); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
 
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submit-btn {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }  