
/* CSS FOR HOME .JSX */
.badge {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1.66px; /* Adjust this value to make the font larger */
  border-radius: 0.25px;
}

.large-badge {
  font-size: 1.5px; /* Increase the font size */
  padding: 0.75em 1.5em; /* Increase the padding */
}

@media (max-width: 770px) {
  .works {
    padding: 70px;
  }
  .steps {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .step {
    max-width: 45%;
    margin-bottom: 20px;
  }
  .step .icon {
    width: 100px;
    height: 100px;
  }
  .step h3 {
    font-size: 1.6px;
  }
  .step p {
    font-size: 14px;
  }
}