
  .register-container {
    /* background-image: url(back1);  */
    /* background-size: cover; */
     /* Example color, change to desired color */
     /* background-color: black;  */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10000px;
    height: 100%;
  }
  
  .register-form {
    background: rgb(27, 168, 173);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .register-form .terms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }
  
  .register-form .terms input {
    margin-right: 10px;
  }
  
  .register-form .terms label {
    font-size: 14px;
    color: black;
  }
  
  .register-form .terms a {
    color: black;
    text-decoration: none;
  }
  
  .register-form button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    /* transition: background 0.3s ease; */
  }
  
  .register-form button:hover {
    background:rgb(27, 168, 173);
  }
  
  .register-form p {
    margin-top: 20px;
    color: black;
    font-size: 14px;
  }
  
  .register-form p a {
    color: white;
    text-decoration: none;
  }
  
  .register-form p a:hover {
    text-decoration: underline;
  }
  