.about-container {
    background-color: white;
    /* border-radius: 8px; */
    max-width: 600px;
    /* margin: 5px auto right; */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

.about-header h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.about-content h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.about-content a {
    color: #0073b1;
    text-decoration: none;
}

.about-content a:hover {
    text-decoration: underline;
}

.about-buttons {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #005f8d;
}
