/* RecoveryPassword.css */
.recovery-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .recovery-password-container h2 {
    font-size: 32px; /* Increased font size */
    margin-bottom: 30px;
  }
  
  .recovery-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* Increased width */
    padding: 40px; /* Increased padding */
    background-color:rgb(184, 115, 51);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .recovery-password-container input {
    width: 100%;
    padding: 15px; /* Increased padding */
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Increased font size */
  }
  
  .recovery-password-container button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
  }
  
  .recovery-password-container button:hover {
    background-color: rgb(27, 168, 173);
  }
  
  
  